/* Global style file for the entire application. */
@import "tailwindcss";

/* Dark theme variant */
@variant dark (&:where(.dark, .dark *));

@theme {
  --font-roboto: "Roboto";
  --color-white: #ffffff;
  --color-black: #000000;
  --color-dark-blue: #0f172a;
  --color-purple: #9333ea;
  --color-light-purple: #c084fc;
  --color-gray: #94a3b8;
  --color-light-gray: #c4c4c4;
}
